<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WebCrossesEntities" connectionString="metadata=res://*/WebCross.csdl|res://*/WebCross.ssdl|res://*/WebCross.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.0.195;initial catalog=WebCrosses_students;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>